
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 35px;
}
.logo {
  left: 7%;
  top: 14px;
  background: url(../img/recursos/logo-white.png);
  padding: 3.4%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 103px;
}
.logo-2 {
  left: 7%;
  top: 14px;
  background: url(../img/recursos/logo-pink.png);
  padding: 3.4%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 103px;
}
header {
  height: 100px;
  width: 100%;
  z-index: 1;
  margin-top: 0;
  position: fixed;
  padding-top: 0px;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  width: 100%;
}
video{
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  z-index: -200;
  top: 0px;
  left: 0;
}
.header-in{
  background-color: white;
  color: black;
}


/*---------Estilos del Menu---------*/
.nav-header {
  position: relative;
}
.solid #logo .logo {
  background-image: url(../img/recursos/logo-pink.png);
}

.menu {
    margin: 0;
    top: 0;
    right: 0;
    list-style: none;
    padding: 14px 15%;
    display: flex;
    position: absolute;

  }
.black {
  color: black;
}
.menu-link {
  margin-right: 20px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 21px;
    color: #fff;
    text-decoration: none;
}
.border {
  border-style: solid;
  border-radius: 19px;
  padding: 17px;
}
.pink{
  border-style: solid;
  border-radius: 19px;
  border-color: #ff00bf;
  padding: 17px;
}
.hidden {
  visibility: hidden;
}
/*Javascript style toggle for menu appear and desappear style background*/
.solid #toggle .menu {
  background: #fff;
}
.solid #toggle .menu:after{
  background-color: #fff;
}
.solid #toggle .menu:before{
  background-color: #fff;
}

  /*--------------------FORMULARIO --------------------*/
.first-part {
  position: relative;
}
.first-form {
  right: 0;
  background: #fff;
  float: right;
  padding: 20px 63px;
  width: 42%;
  margin-top: 8%;
  position: absolute;
}
.form-titulo {
  color: #352384;
  font-size: 35px;
  margin: 0;
}
.form-txt {
  color: #728099;
}
.form-view {
  position: relative;
}
.form-view [type="text"]{
  border: none;
  border-bottom: 2px solid #352384;
  margin-bottom: 21px;
  width: 100%;
}
.hidden-input {
  display: none;
}
#box-input > div {
  position: relative;
}
#box-input [type="text"]{
  border: none;
  border-bottom: 2px solid #352384;
  margin-bottom: 21px;
  width: 100%;
}
#btn-reset {
  background-color: #ff00bf;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}


/*-----------SEGUNDA SECCION -----------*/
.segunda-parte {
  margin-top: 54%;
  background-color: rgb(102, 14, 131);
  position: absolute;
  width: 100%;
}
div > .second-left {
  float: left;
  padding: 1% 10%;
  color: white;

}

.second-left > div > p{
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}
div > .second-right {
  float: right;
  background: url(../img/recursos/phone.png);
  padding: 14.4%;
  background-repeat: no-repeat;
  background-size: 96%;
  margin-top: 50px;
  margin-right: 10%;

}
/*------------------TERCERA PARTE ------------------*/
.third-part {
  position: absolute;
  width: 100%;
  margin-top: 97%;
  background: #fff;
  height: 506px;
}
.third-left, .fifth-left{
  float: left;
  width: 35%;
  height: 169%;
  background: #fff;
  padding: 50px 80px;
  padding-bottom: 9%;
}
.third-txt, .fifth-txt, .fourth-txt {
  font-size: 21px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;

}
.third-right, .fifth-right{
  float: right;
    width: 65%;


}
/*--------------------------CUARTA PARTE --------------------------*/
.fourth-part {
  position: ABSOLUTE;
  width: 100%;
  margin-top: 135.2%;
  height: 515px;
}

.fourth-left{
  float: left;
    width: 65%;

}

.fourth-right{
  float: right;
  width: 35%;
  height: 169%;
  background: #fff;
  padding: 50px 80px;
  padding-bottom: 9%;
}
/*--------------------------QUINTA PARTE --------------------------*/
.fifth-part{
  position: ABSOLUTE;
    width: 100%;
    margin-top: 173.4%;
}
.fifth-left{
  padding-bottom: 11.1%
}

/*--------------------FOOTER--------------------*/
footer{
  position: absolute;
  width: 100%;
  margin-top: 211.6%;
  background: #333447;
  color: white;
}
.box-footer {
  padding: 46px 120px;
  width: 100%;
  height: 500px;
}
.footer-top {
  height: 70%;
}
.footer-top .top-left{
  width: 60%;
  float: left;
  padding: 10px 15px;
}
.footer-top .top-right {
  width: 40%;
  float: right;
}
.top-left div{
  display: inline-block;
  flex-wrap: wrap;
  width: 32%;
}
.top-left > div > span {
  display: block;
  cursor: pointer;
}
.top-left > div > span:hover {
  color: #ff00bf;
}
.footer-bottom {
  height: 30%;

}
.icono-bt {
  text-align: center;
  margin-bottom: 40px;
}

.btn-line{
  width: 70%;
  margin: 0 auto;
  height: 2px;
  background: white;
}
.last-line p {
  text-align: center;
}

.top-right > a >img {
  display: block;
  width: 154px;
  margin-bottom: 35px;
  margin-left: 84px;
}



/*nuevo icon */
.x-icon{
  content: "";
  background: url(../img/recursos/error.png);
  background-repeat: no-repeat;
  background-size: 20px;
  display: block;
  width: 5%;
  height: 21px;
  position: absolute;
  right: 1px;
  top: 1%;
  visibility: visible;

}
