
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 35px;
}
.logo {
  left: 7%;
  top: 14px;
  background: url(../img/recursos/logo-white.png);
  padding: 3.4%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 103px;
}
header {
  height: 100px;
  margin-top: -21px;
  width: 100%;
}
video{
  position: absolute;
      min-width: 100%;
      min-height: 100%;
      z-index: -200;
      top: 0px;
      left: 0;
}
.header-in{
  background-color: rgba(247, 182, 23, 0.81);
}


/*---------Estilos del Menu---------*/
.nav-header {
  position: relative;
}
.solid #logo .logo {
  background-image: url(../img/recursos/logo-pink.png);
}

.menu {
    list-style: none;
    padding: 14px 15%;
    margin: 0;
    display: flex;
    position: absolute;
    right: 0;


}
.menu-link {
    display: inline-block;
    flex-wrap: wrap;
    padding: 21px;
    color: #fff;
    text-decoration: none;
}

/*Javascript style toggle for menu appear and desappear style background*/
.solid #toggle .menu {
  background: #fff;
}
.solid #toggle .menu:after{
  background-color: #fff;
}
.solid #toggle .menu:before{
  background-color: #fff;
}

  /*--------------------FORMULARIO --------------------*/
.contenedor-main {
  background: #fff;
  float: right;
  padding: 63px;
  width: 40%;
}
.form-titulo {
  color: #352384;
  font-size: 42px;
}
.form-txt {
  color: #728099;
}
.form-view [type="text"]{
  border: none;
  border-bottom: 2px solid #352384;
  margin-bottom: 21px;
  width: 100%;
}
.box-input [type="text"]{
  border: none;
  border-bottom: 2px solid #352384;
  margin-bottom: 21px;
  width: 100%;
}
#btn-reset {
  background-color: #ff00bf;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}


/*-----------SEGUNDA SECCION -----------*/
.segunda-parte {
  background: linear-gradient(#76278f,#2b1e66);
    position: absolute;
    width: 100%;
    margin-top: 45%;
}
div > .second-left {
  float: left;
  padding: 5% 10%;
  color: white;

}

.second-left > div > p{
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}
div > .second-right {
  float: right;
  background: url(../img/recursos/phone.png);
  padding: 17.4%;
  background-repeat: no-repeat;
  background-size: 96%;
  margin-top: 50px;
  margin-right: 10%;

}
/*------------------TERCERA PARTE ------------------*/
.third-part {
  position: absolute;
  width: 100%;
  margin-top: 88%;
  background: #fff;
  height: 506px;
}
.third-left{
  float: left;
  width: 35%;
  height: 169%;
  background: #fff;
  padding: 80px;
  padding-bottom: 9%;
}
.third-txt {
  font-size: 21px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;

}
.third-right{
  float: right;
    width: 65%;


}
/*--------------------------CUARTA PARTE --------------------------*/
.fourth-part {
  position: ABSOLUTE;
    width: 100%;
    margin-top: 118.5%;
    background: #694444;
    height: 515px;
}

.fourth-left{
  float: left;
    width: 65%;

}
.fourth-txt {
  font-size: 21px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;

}
.fourth-right{
  float: right;
  width: 35%;
  height: 169%;
  background: #fff;
  padding: 80px;
  padding-bottom: 9%;
}
